<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <buynow>
            <general>
                <cartproducts>0</cartproducts>
                <enableonlist>0</enableonlist>
                <enableonview>1</enableonview>
                <addtocartid>product_addtocart_form</addtocartid>
                <buttontitle>Buy Now</buttontitle>
            </general>
        </buynow>
    </default>
</config>
