<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <buynow>
            <general>
                <status>1</status>
                <cartproducts>0</cartproducts>
            </general>
        </buynow>
    </default>
</config>
