.catalog-category-view .actions-primary + .actions-secondary {
    vertical-align: top;
}

.catalog-category-view button.buynow {
    margin-left: 5px;
}

.catalog-product-view #product-addtocart-button {
	float: left;
}

@media(max-width: 767px){
    .catalog-category-view button.buynow{
        margin-top: 5px;
        margin-left: 0px;
    }
}